.card {
    margin: 16px;
    border-radius: 48px;
    background-color: #ffffff;
}

.card>p {
    margin: 32px;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #1A1A1A;
    }
}