@import url('./Navbar.css');
@import url('./Card.css');
@import url('./Header.css');

:root {
    --MNMLUI-ACCENT: #ff0080;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    scrollbar-width: none;
}

body {
    background-color: #F2F2F2;
    padding-top: env(safe-area-inset-top);
}

.glassy {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(2px);
    border-radius: 32px;
    transition: background-color 0.5s ease-in-out;
}

.glassy:active {
    background-color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {
    * {
        color: #ffffff;
    }

    body {
        background-color: #000000;
    }

    .glassy {
        background-color: rgba(64, 64, 64, 0.5);
    }

    .glassy:active {
        background-color: rgba(64, 64, 64, 0.75);
    }
}


.removed {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}