:root {
    --MNMLUI-ACCENT: #ff0080;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    scrollbar-width: none;
}

body {
    background-color: #F2F2F2;
    padding-top: env(safe-area-inset-top);
}

.glassy {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10), inset 0px -2px 1px -1px rgba(255, 255, 255, 0.25), inset 0px 2px 1px -1px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 32px;
    transition: background-color 0.5s ease-in-out;
}

.glassy:active {
    background-color: rgba(255, 255, 255, 0.75);
}

.tinted {
    background-color: color-mix(in srgb, var(--MNMLUI-ACCENT) 50%, transparent 50%);
}

.tinted:active {
    background-color: color-mix(in srgb, var(--MNMLUI-ACCENT) 75%, transparent 25%);
}

.clearer {
    background-color: rgba(255, 255, 255, 0.25);
}

.clearer:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.clear {
    background-color: rgba(255, 255, 255, 0.0);
}

.clear:active {
    background-color: rgba(255, 255, 255, 0.25);
}





body.permDark {
    background-color: #000000;
}

.glassy.permDark {
    background-color: rgba(64, 64, 64, 0.5);
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10), inset 0px -2px 1px -1px rgba(128, 128, 128, 0.25), inset 0px 2px 1px -1px rgba(128, 128, 128, 0.25);
}

.glassy.permDark:active {
    background-color: rgba(64, 64, 64, 0.75);
}

.clearer.permDark {
    background-color: rgba(64, 64, 64, 0.25);
}

.clearer.permDark:active {
    background-color: rgba(64, 64, 64, 0.5);
}

.clear.permDark {
    background-color: rgba(64, 64, 64, 0.00);
}

.clear.permDark:active {
    background-color: rgba(64, 64, 64, 0.25);
}

@media (prefers-color-scheme: dark) {
    * {
        color: #ffffff;
    }

    body {
        background-color: #000000;
    }

    .glassy {
        background-color: rgba(64, 64, 64, 0.5);
        box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10), inset 0px -2px 1px -1px rgba(128, 128, 128, 0.25), inset 0px 2px 1px -1px rgba(128, 128, 128, 0.25);
    }

    .glassy:active {
        background-color: rgba(64, 64, 64, 0.75);
    }

    .tinted {
        background-color: color-mix(in srgb, var(--MNMLUI-ACCENT) 50%, transparent 50%);
    }

    .tinted:active {
        background-color: color-mix(in srgb, var(--MNMLUI-ACCENT) 75%, transparent 25%);
    }

    .clearer {
        background-color: rgba(64, 64, 64, 0.25);
    }

    .clearer:active {
        background-color: rgba(64, 64, 64, 0.5);
    }

    .clear {
        background-color: rgba(64, 64, 64, 0.00);
    }

    .clear:active {
        background-color: rgba(64, 64, 64, 0.25);
    }





    body.permLight {
        background-color: #F2F2F2;
    }

    .glassy.permLight {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10), inset 0px -2px 1px -1px rgba(255, 255, 255, 0.25), inset 0px 2px 1px -1px rgba(255, 255, 255, 0.25);
    }

    .glassy.permLight:active {
        background-color: rgba(255, 255, 255, 0.75);
    }

    .clearer.permLight {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .clearer.permLight:active {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .clear.permLight {
        background-color: rgba(255, 255, 255, 0.0);
    }

    .clear.permLight:active {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.removed {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}
